//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar.top
        ul
            li Home
            li About
            li Services
            li Class Info
            li Contact Us
    section 
            
    script
      include ../static/index.js