//- index.pug
doctype html
html
  head
    title Kankana's Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar.top
        ul
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") Class Info]
          li #[a(href="/") Contact Us]
    section#introSection    
      div Welcome to Kankana's Dance Academy
      div.small Eat Sleep Dance Repeat
    section#missionSection
      h2 Our Mission
      div.card
        h3 
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rem veritatis explicabo maxime totam ratione sit quasi natus architecto vitae perferendis perspiciatis voluptas, illum reiciendis eos est iusto unde, excepturi, omnis tempore neque facilis! Nobis vel mollitia, itaque eveniet corrupti dolorem similique facere modi rem unde ullam? Quos, est id?
      div.card
        h3 
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rem veritatis explicabo maxime totam ratione sit quasi natus architecto vitae perferendis perspiciatis voluptas, illum reiciendis eos est iusto unde, excepturi, omnis tempore neque facilis! Nobis vel mollitia, itaque eveniet corrupti dolorem similique facere modi rem unde ullam? Quos, est id?
      div.card
        h3 
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rem veritatis explicabo maxime totam ratione sit quasi natus architecto vitae perferendis perspiciatis voluptas, illum reiciendis eos est iusto unde, excepturi, omnis tempore neque facilis! Nobis vel mollitia, itaque eveniet corrupti dolorem similique facere modi rem unde ullam? Quos, est id?
    section#sponsorSection
      h2 Our Sponsors
    footer#footer
      | Our footer here 
    script
      include ../static/index.js